<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="OneOf" version="2.0.23" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="RazorGenerator.Templating" version="2.3.11" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SirenDotNet" version="1.1.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>